@import "tailwindcss";


.logo {
    font-family: fantasy;
    font-size: 50px;
}

.no-scrollbar {
    scrollbar-width: none;
}

.btn {
    width: 80px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    color: red;
}

.banner:hover .m-data {
    width: 500px;
    height: 300px;
    color: red;
    font-size: 60px;
    background-color: transparent;
    transition-duration: 500ms;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-holder {
    box-shadow: 0 -50px 300px 200px black;
}